@import "tailwindcss";
@import "@heroui/styles";

/* Dark mode configuration */
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0 0);
}

body {
  @apply m-0 bg-background text-foreground antialiased min-h-screen;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
